[submodule "static/plugins/select2"]
	path = static/plugins/select2
	url = git://github.com/ivaynberg/select2.git
[submodule "static/plugins/kickstart"]
	path = static/plugins/kickstart
	url = git://github.com/joshuagatcke/HTML-KickStart.git
