<div>
    <div id="banner">
    </div>

    <div class="grid">
        <div id="sidebar" class="col_3">
        <ul class="menu vertical">
            <li><a href="">Some menu item</a>
                <ul>
                    <li><a href="">Sub menu item</a></li>
                    <li><a href="">Other menu item</a></li>
                </ul>
            </li>
            <li><a href="">Other menu item</a></li>
        </ul>
        </div>

        <div id="main" class="col_9">
        <h2>Page Header</h2>
        Page with <a href="#">Link</a>.
        </div>
    </div>
</div>
