common: &COMMON
  debug: true
  static: static
  database: db/development.db

development:
  <<: *COMMON
  frontend: http://localhost:8000

production:
  <<: *COMMON
  debug: false
  static: build
  database: db/production.db
